@{
    ViewBag.Title = "News 2022";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcamNews mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>News 2022</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / News 2022</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->

<div class="container-fluid mb-4">
    <div class="row" style="padding:0px 0px 5px 0px;">
        <div class="col-lg-12">
            <div class="section_title text-center mb-80">
                <h2 style="float: left; margin-left: 10px; margin-left: 30px;">OUR NEWS</h2>
                <div class="devider">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Menus start -->
<div class="container-fluid mb-4">
    <div class="row" style="padding:0px 0px 5px 0px;">
        <div class="col-lg-12" data-aos="zoom-out">
            <p style="font-weight: 700; font-size: 25px; margin-left: 10px; margin-left: 30px;">
                <a href="@Url.Action("AllNews","InvestorAndMedia")" class="hover-underline-animation"> All News</a> &nbsp;<span style="color: gray">|</span>&nbsp;
                <a href="@Url.Action("News2025","InvestorAndMedia")" class="hover-underline-animation">2025</a> &nbsp;<span style="color: gray">|</span>&nbsp;
                <a href="@Url.Action("News2024","InvestorAndMedia")" class="hover-underline-animation">2024</a> &nbsp;<span style="color: gray">|</span>&nbsp;
                <a href="@Url.Action("News2023","InvestorAndMedia")" class="hover-underline-animation">2023</a> &nbsp;<span style="color: gray">|</span>&nbsp;
                <a href="@Url.Action("News2022","InvestorAndMedia")" class="underline-2">2022</a> &nbsp;<span style="color: gray">|</span>&nbsp;
                <a href="@Url.Action("News2021","InvestorAndMedia")" class="hover-underline-animation">2021</a> &nbsp;<span style="color: gray">|</span>&nbsp;
                <a href="@Url.Action("News2020","InvestorAndMedia")" class="hover-underline-animation">2020</a> &nbsp;<span style="color: gray">|</span>&nbsp;
                <a href="@Url.Action("News2019","InvestorAndMedia")" class="hover-underline-animation">2019</a>&nbsp;<span style="color: gray">|</span>&nbsp;
                <a href="@Url.Action("News2018","InvestorAndMedia")" class="hover-underline-animation">2018</a>
            </p>
        </div>
    </div>
</div>
<!-- Menus start -->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 mb-3 content">
            <a href="@Url.Action("DetailNews","InvestorAndMedia", new {idNews = "Dec0922"})">
                <div class="swiper-slide1 swiper-slide--20221">
                    <span>09 Dec 2022</span>
                    <div>
                        <h2>
                            Legend Logistics Australia opens Perth depot ahead of national expansion
                        </h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-4 mb-3 content">
            <a href="@Url.Action("DetailNews","InvestorAndMedia", new {idNews = "Dec0222"})">
                <div class="swiper-slide1 swiper-slide--20222">
                    <span>02 Dec 2022</span>
                    <div>
                        <h2>
                            Legend Logistics Group celebrates its 10th Anniversary Dinner & Dance
                        </h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-4 mb-3 content">
            <a href="@Url.Action("DetailNews","InvestorAndMedia", new {idNews = "Nov2922"})">
                <div class="swiper-slide1 swiper-slide--20223">
                    <span>29 Nov 2022</span>
                    <div>
                        <h2>
                            Legend Logistics Australia has won two tenders on the AUD 15.8 billion North East Link Project
                        </h2>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 mb-3 content">
            <a href="@Url.Action("DetailNews","InvestorAndMedia", new {idNews = "Nov2422"})">
                <div class="swiper-slide1 swiper-slide--20224">
                    <span>24 Nov 2022</span>
                    <div>
                        <h2>
                            Legend Logistics Group wins the Enterprise 50 Award 2022
                        </h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<style>
    .content {
        display: none;
    }

    #loadMore {
        width: 200px;
        color: #fff;
        display: block;
        text-align: center;
        margin: 20px auto;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid transparent;
        background-color: rgba(24,54,130,1);
        transition: .3s;
    }

        #loadMore:hover {
            color: rgba(24,54,130,1);
            background-color: #fff;
            border: 1px solid rgba(24,54,130,1);
            text-decoration: none;
        }

    .line {
        content: "";
        width: 100%;
        height: 3px;
        bottom: -5px;
        left: 0;
        background-color: #1C3682;
        visibility: visible;
        width: 55px;
        transition: all 0.3s ease-in-out 0s;
    }
</style>

<script>
    $(document).ready(function () {
        $(".content").slice(0, 6).show();
        $("#loadMore").on("click", function (e) {
            e.preventDefault();
            $(".content:hidden").slice(0, 6).slideDown();
            if ($(".content:hidden").length == 0) {
                $("#loadMore").hide();
            }
        });
    })
</script>