
@{
    ViewBag.Title = "Indonesia";
}

<script src="~/Content/js/site.js"></script>
<script src="~/Content/lib/d3/d3.min.js"></script>
<script src="~/Content/lib/topojson/topojson.min.js"></script>
<script src="~/Content/js/Datamaps.js"></script>
<script src="~/Content/js/MapData.js"></script>
<script src="~/Content/js/datamaps.markers.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcam_bg_35 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="bradcam_text">
                    <h3>Indonesia</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / <a href="@Url.Action("GlobalLocations","GlobalLocations")">Global Locations</a> / Indonesia</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Menus Starts -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-3" data-aos="zoom-out">
            <p style="font-weight:700;font-size:18px;">
                <a href="@Url.Action("Headquarters","GlobalLocations")" class="hover-underline-animation">Headquarters</a> &nbsp;<span style="color: gray">|</span>&nbsp;
                <a href="@Url.Action("Singapore","GlobalLocations")" class="hover-underline-animation">Singapore</a> &nbsp;<span style="color: gray">|</span>&nbsp;
                <a href="@Url.Action("Indonesia","GlobalLocations")" class="underline-2">Indonesia</a> &nbsp;<span style="color: gray">|</span>&nbsp;
                <a href="@Url.Action("Australia","GlobalLocations")" class="hover-underline-animation">Australia</a>
            </p>
        </div>
    </div>
</div>
<!-- Menus Ends -->
<!-- Content Starts -->
<div class="SingaporeGL container">
    <div class="row">
        <div class="col-12">
            <h5 style="font-size: 20px;margin-top:10px;line-height: 22px !important;" data-aos="fade-left">Bintan (Branch Office)</h5>
            <h5 style="padding: 0px 0px 0px 0px; font-size: 18px; line-height: 22px !important;color:#183682;" data-aos="fade-left">PT. MARINA AQUARIUS INDONESIA</h5>
            <p class="obiz" style="font-size: 15px; line-height: 22px !important;" data-aos="fade-left">
                Jalan Tanjung Lobam,  Wisma Bintan Industrial Estate, Bintan 29154, Indonesia
                <br>
                Main :  <a href="tel: +62 770 696333"> + 62 770 696333</a>
            </p>
            <p class="obiz" style="font-size: 15px; line-height: 22px !important;" data-aos="fade-left">
                <strong style="font-size:15px;padding:10px 0px 0px 0px;font-weight:bold;line-height:22px !important;">Meriwati</strong>
                <br>
                Branch Manager
                <br>
                <a href="mailto:meriwati.toga@regentgroup.sg" style="font-size: 15px; line-height: 22px !important;">meriwati.toga@regentgroup.sg</a>
            </p>
            <p style="border-bottom: 1px solid #183682; margin-top: 30px; width: 100vh;" data-aos="fade-right"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5 style="font-size: 20px;margin-top:10px;line-height: 22px !important;" data-aos="fade-left">Batam (Branch Office)</h5>
            <h5 style="padding: 0px 0px 0px 0px; font-size: 18px; line-height: 22px !important;color:#183682;" data-aos="fade-left">PT REGENT MARINE INDONESIA</h5>
            <p class="obiz" style="font-size: 15px; line-height: 22px !important;" data-aos="fade-left">
                Komplek Ruko Batam Central Park Blok B No 8D, Tanjung Uma, Lubuk Baja Kota Batam, Kepulauan Riau, Indonesia
                <br>
                Main :  <a href="tel: +62 778 4886727"> + 62 778 4886727</a>
            </p>
            <p class="obiz" style="font-size: 15px; line-height: 22px !important;" data-aos="fade-left">
                <strong style="font-size: 15px; padding: 10px 0px 0px 0px; font-weight: bold; line-height: 22px !important;">Yudhi Ariestan</strong>
                <br>
                Incharge Branch Manager
                <br>
                <a href="mailto:yudhi.ariestian@regentgroup.sg" style="font-size: 15px; line-height: 22px !important;">yudhi.ariestian@regentgroup.sg</a>
            </p>
            <p style="border-bottom: 1px solid #183682; margin-top: 30px; width: 100vh;" data-aos="fade-right"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5 style="padding: 0px 0px 0px 0px; font-size: 18px; line-height: 22px !important;color:#183682;" data-aos="fade-left">BATAMINDO INDUSTRIAL PARK</h5>
            <p class="obiz" style="font-size: 15px; line-height: 22px !important;" data-aos="fade-left">
                Office & Warehouse : Jalan Bungur Lot 297, Batamindo Industrial Park Mukakuning, Batam Island
                <br>
                Main :  <a href="tel: +62 770 611 007">+ 62 770 611 007</a>
            </p>
        </div>
    </div>
</div>
<br />
<!-- Content Ends -->
<!-- Css -->
<style>
    .SG_Awards {
        padding-right: 2em;
        transition: 1s !important;
        max-height: 35px;
    }

    .SG_Awards1 {
        padding-right: 2em;
        transition: 1s !important;
        max-height: 50px;
    }

    .SG_Awards2 {
        padding-right: 2em;
        transition: 1s !important;
        max-height: 60px;
        padding-top: 8px;
    }

    .SG_Awards3 {
        padding-right: 2em;
        transition: 1s !important;
        max-height: 50px;
        padding-top: 6px;
    }

    g .datamaps-subunits {
        transform: translate(-336.818, -111.554) scale(1.31951, 1.31951) !important;
    }
</style>
<!-- Css -->
